{{#each badguys}}
<div class="col-md-6">
<img class="each-character" src="{{image}}" alt={{name}} data-name="{{name}}"/>
<h3>{{name}}</h3>
<h5>{{weapon}}
<div class="health-bar"></div>
</div>
{{/each}}
