<<<<<<< f18891cb73f2b21d1cb8588279358118347fec42
{{#each goodguys}}
  <div class="col-md-6">
  <img class="each-character" src="{{image}}" alt={{name}} data-name="{{name}}"/>
  <h3>{{name}}</h3>
  <h5>{{weapon}}
  <div class="health-bar"></div>
=======
  <div class="col-md-6">
    <img class="each-character" src="{{image}}" alt='{{name}}' />
    <h3>{{name}}</h3>
    <h5>weapon</h5>
    <div class="health-bar"></div>
>>>>>>> A: various js updates
  </div>
